.novoPedidoButton :global {


  .ms-Button.ms-Button--primary {
    background-color: #107c10 !important;
    border: none !important;
    border-radius: 4px !important;

    &:hover {
      background-color: #0c5a0c !important;
    }

    .ms-Button-label,
    .ms-Button-icon {
      color: white !important;
      font-weight: 600 !important;
    }
  }
}

.statusTabDefault :global,
.statusTabActive :global {


  .ms-Pivot-link {

    border-radius: 50px !important;
    padding: 8px 16px !important;
    margin: 0 4px 0 0 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    height: auto !important;
    line-height: 1 !important;
    border: none !important;
    margin-bottom: 0 !important;

    &:hover {

      background-color: #eaeaea !important;
    }
  }

  .ms-Pivot-linkText {
    font-weight: 600 !important;
    color: #323130 !important;
  }
}


.statusTabDefault :global {
  .ms-Pivot-link {
    background-color: #f3f2f1 !important;

  }

  .ms-Pivot-link:hover {
    background-color: #eaeaea !important;
  }
}


.statusTabActive :global {
  .ms-Pivot-link {
    background-color: #ffb900 !important;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;
  }


  .ms-Pivot-link.is-selected {
    background-color: #ffb900 !important;
    border-bottom: none !important;
  }
}